[submodule "vendor/idiorm"]
	path = vendor/idiorm
	url = https://github.com/j4mie/idiorm.git
[submodule "vendor/limonade"]
	path = vendor/limonade
	url = https://github.com/CBeerta/limonade.git
[submodule "vendor/markdown"]
	path = vendor/markdown
	url = http://git.michelf.com/php-markdown
