{% extends "base.html" %}

{% block title %}About{% endblock %}
{%block content %}
    <section class="contact-info">
        <div>
            <img class="portrait" src="/img/portrait-small.jpg" name="Portrait" title="Claus Beerta">
        </div>
        <h1>Contact Info</h1>
        <p>
        <b>Claus Beerta</b><br/>
        L&uuml;tjenmoor 44<br/>
        22850 Norderstedt<br/>
        <a href="mailto: claus@beerta.de">claus@beerta.de</a><br/>
        </p>
    </section>
    
    <section class="work-experience">
    
        <h1>Berufstätigkeit</h1>

        <ul class="first">
            <h2>seit 20011</h2>
            <li>Technical Consultant, MCS Moorbek Computer Systeme GmbH in Hamburg
            <ul class="second">
                <li>Entwickling einer Kickstart und Preseed Umgebung mit Cobbler und Chef
            </ul>
        </ul>
        
        <ul class="first">
            <h2>2005 - 2011</h2>
            <li>Systemadministrator, Interactive Data Managed Solutions AG (vormals IS.Teledata AG) in Frankfurt
            <ul class="second">
                <li>Unterstützung der Frontend Teams bei der Einführung und Migration auf PHP5
                <li>Einführung der Virtualisierung auf Basis von XEN und der späteren Migration auf KVM
                <li>Neuaufbau aller Loadbalancer mit IPVS. Einführung von Nginx für Layer-7 Loadbalancing
                <li>Setup und Betrieb von Tomcat
                <li>Unterstützung bei diversen Security Audits 
                <li>Beschaffung und Support von SSL-Zertifikaten (Client und Server)
                <li>Rechenzentrumsumzug mit ca. 1.400 Systemen
                <li>Betrieb diverser propriet&auml;rer Software im Backend und Frontend
                <li>ITIL und SOx
            </ul>
        </ul>

        <ul class="first">
            <h2>2003 – 2005</h2>
            <li>Systemadministrator, IS.Teledata AG (Zusammenschluss der Onvista Technologies und Innovative Software AG) in Frankfurt
            <ul class="second">
                <li>&Uuml;bernahme der Apache, PHP4 Umgebung der Onvista Technologies
                <li>Einführung von MySQL im Frontend-Bereich. Entwicklung von Monitoring- und Backupstrategien
                <li>Betrieb und Weiterentwicklung von DNS Services und deren Hochverfügbarkeit
                <li>Kapazit&auml;tsplanung im Bereich Webserver Infrastruktur
            </ul>
        </ul>
        
        <ul class="first">
            <h2>2000 - 2003</h2>
            <li>Systemadministrator, Innovative Software AG in Frankfurt
            <ul class="second">
                <li>Betrieb der Inhouse entwickelten Applikationen wie Datenbanken, Webserver und der „Ticketplant“
                <li>Build einer „eFinance“ Plattform in NYC für die damalige Comstock, sowie das Training der Systemadministratoren vor Ort
                <li>Hauptverantwortlich für die Inhouse sowie Rechenzentrums Email Services basierend auf Postfix, Qmail und Cyrus
                <li>Implementation und Betrieb von Statistiken sowie Traffic Accounting
            </ul>
        </ul>

        <ul class="first">
            <h2>1997 – 2000</h2>
            <li>Systemadministrator, Selos Informationssysteme GmbH in Wilhelmshaven
            <ul class="second">
                <li>Administration von Windows und Novell Netzwerken
                <li>Support von Benutzer Arbeitsplätzen (DOS, Windows, OS/2)
                <li>Planung und Implementation von Netzwerk Infrastruktur
            </ul>
        </ul>
    </section>
    <section class="school">

        <h1>Berufsausbildung</h1>
        <ul class="first">
            <h2>1995 – 1997</h2>
            <li>Technischer Assistent für Informatik, Berufsschule Varel
        </ul>

        <h1>Schulische Ausbildung</h1>
        <ul class="first">
            <h2>1991 – 1995</h2>
            <li>Erweiterter Sekundarabschluß 1, Alexander von Humboldt Schule in Wittmund
        </ul>
        <ul class="first">
            <h2>1989 – 1991</h2>
            <li>Orientierungsstufe der Alexander von Humboldt Schule in Wittmund
        </ul>

        <h1>Sprachkenntnisse</h1>
        <ul class="first">
            <h2>Englisch</h2>
            <li>flie&szlig;end in Wort und Schrift
        </ul>
        <ul class="first">
            <h2>Niederl&auml;ndisch</h2>
            <li>sehr gute Kenntnisse
        </ul>

        <h1>Hobbys und Interessen</h1>
        <ul class="first">
            <li>Programmierung in PHP und Python, Javascript und HTML
            <li>Landschafts- und Makro- Fotografie
        </ul>
    </section>
{% endblock %}
