{% extends "base.html" %}

{% block pagecss %}
  <link rel="stylesheet" href="/public/css/documentation.snippet.css?v=2">
{% endblock %}

{% block title %}{{ display.doc_name }} - Documentation{% endblock %}
{%block content %}
<div class="documentation">
<div class="index">
<ul>
<h2>Topics</h2>
{% for doc in docs %}
<li><a href="{{ base_url}}/docs/{{ doc.doc_name }}">{{ doc.doc_name }}</a>
<!--ul>
{% for sub in doc.topics %}
<li><a href="{{ base_url}}/docs/{{ doc.doc_name }}#{{ sub }}">{{ sub }}</a>
{% endfor %}
</ul-->
{% endfor %}
</ul>
</div>
<p id="intro">This is my Collection of random Bits'n'Pieces. Code, Documentation and whatever
else i might want to keep around. I made this public as there might be Information
here that other people find Interesting.</p>

<hr>
<h1>About: {{ display.doc_name }}</h1>
<p>{{ display.content|raw }}</p>

</div>
{% endblock %}
