{% extends "base.html" %}

{%block content %}
<div class="index">
<ul>
<h2>Topics</h2>
{% for doc in docs %}
<li><a href="{{ base_url}}/docs/{{ doc.doc_name }}">{{ doc.doc_name }}</a>
<!--ul>
{% for sub in doc.topics %}
<li><a href="{{ base_url}}/docs/{{ doc.doc_name }}#{{ sub }}">{{ sub }}</a>
{% endfor %}
</ul-->
{% endfor %}
</ul>
</div>
<p id="intro">This is my Collection of random Bits'n'Pieces. Code, Documentation and whatever
else i might want to keep around. I made this public as there might be Information
here that other people find Interesting.</p>

<hr>
<h4>About: {{ display.doc_name }}</h4>
<p>{{ display.content|raw }}</p>

{% endblock %}
