body {
    background: #fff;
    margin: 0 auto;
    padding: 0 auto;
    color: #222;
}

.entry-meta {
    display: none;
}

.entry-title a {
	font-size: 32px;
	line-height: 50px;
	text-transform: none;
    color: #222;
}
.entry-title {
    margin-top: 60px;
    margin-bottom: 100px;
}
.hentry .main {
    width: 100%;
    border: none;
}

#main {
    text-align: left;
}

#container {
    padding-left: 50px;
    padding-right: 50px;
    margin: 0;
    width: 900px;
}

#footer {
    width: 100%;
}

#article-nav ul {
    text-align: right;
    list-style: none;
    line-height: 1.6em;
}
#article-nav a {
    text-decoration: none;
}
#article-nav h1 {
    float: left;
    font-size: 32px;
}

