/* ######################### Documentation ############ */

html { overflow-y: scroll; }

body {
    background: #fff;
    margin: 0 auto;
    padding: 0 auto;
}

#container {
    width: 100%;
}

.documentation .index {
    height: 100%;
    position: fixed;
    top: 0px;
    right: 0px;
    margin-left: 5px;
    text-align: left;
    width: 250px;
    float: right;
    display: block;
    border-left: 1px solid #444;
    background-color: #eee;
}

.documentation .index ul { 
    margin: 0;
    padding-left: 5px;
}
.documentation .index ul ul { 
    padding-left: 20px;
}
.documentation .index li {
    list-style: none;
}

.documentation {
    margin-right: 255px;
    padding: 10px;
    text-align: left;
}
