/*
* Skeleton V1.1
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 8/17/2011
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */
body { 
    font: sans-serif;
}

pre { overflow: auto; background-color: #eee; padding: 5px; }

/* Header and Navigation
================================================== */
header { padding-top: 75px; padding-bottom: 10px; position: fixed; left: 20px; }
header img { max-width: 220px; border-radius: 5px; }
header h2 { margin-bottom: 0px; line-height: 0.8em; border-bottom: 1px solid black; margin-bottom: 10px; }
header a { text-decoration: none; }

nav { margin-top: 20px; }
nav li { list-style: none; line-height: 2em; }
nav a { text-decoration: none; }
nav #current_page_item { font-weight: bold; }

nav.pagination .nav-previous { float: left; }
nav.pagination .nav-next { float: right; }

.socialicons img { opacity: 0.5;  }
.socialicons img:hover { opacity: 1; }

/* Content
================================================== */
#content { padding-top: 10px; margin-left: 220px; }

/* footer
================================================== */
footer.sidebar { margin-top: 50px; margin-bottom: 100px; padding-left: 220px; }

/* #Page Styles
================================================== */
.contact-info .portrait { float: right; margin: 5px; border: 3px solid #eee; }
.work-experience .second { /* display: none;*/ }

/* #Article Styles
================================================== */
article {
    padding-bottom: 0px;
    border-bottom: 1px solid #eaeaea;
    /*
    -moz-box-shadow: 0 5px 8px -5px rgba(0, 0, 0, 0.075);
    -webkit-box-shadow: 0 5px 8px -5px rgba(0, 0, 0, 0.075);
    -o-box-shadow: 0 5px 8px -5px rgba(0, 0, 0, 0.075);
    box-shadow: 0 5px 8px -5px rgba(0, 0, 0, 0.075);
    */
    margin-bottom: 2em;
}
article img { float: left; margin: 5px; border: 3px solid #eee; }
article img:hover { border: 3px solid #ddd; }

article footer { }
article footer .feedback,.links { float: right; }
article footer a { text-decoration: none; }
article footer a:hover { text-decoration: underline; }
article footer .feedback a { 
    background-image: url(/img/icon-comments-2x.png); 
    background-repeat: no-repeat; 
    background-position: left -47px; 
    display: block;
    padding: 0 4px 2px 22px;
    height: 16px;
    opacity: 0.2;
}
article footer .feedback a:hover { text-decoration: none; opacity: 1;} 

article.format-activity { border-bottom: none; margin-bottom: 1em; }
article.format-photo img { float: none; display: block; margin: 0 auto; }
article.format-photo h1:after { content: "\2192"; padding-left: 10px; }
article.format-deviantart h1:after { content: "\2192"; padding-left: 10px; }

article,section li { list-style: square inside none; }

time { font-weight: bold; }

aside.tags a:before { content: "#"; }
aside.tags, aside.tags a  { font-size: small; line-height: 2em; color: #777; }
aside.tags a:hover { color: #222; text-decoration: none; }

/* #Media Queries
================================================== */
@media only screen and (min-width: 960px) and (max-width: 1199px) {
    header { max-width: 220px; }
}

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {
    header { max-width: 172px; }
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
    header { max-width: 172px; }
    #content { padding-left: 180px; }
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
    header { padding-top: 5px; max-width: 120px; }
    article img { max-width: 400px; }
    header img#header-img { display: none; }
    #content { padding-left: 120px; }
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    article img { max-width: 400px; }
    header { max-width: 172px; }
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
    article img { max-width: 300px; }
    header { max-width: 120px;}
    header img#header-img { display: none; }
    #content {padding-left: 120px; }
}

