/* HTML5 ✰ Boilerplate */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ""; content: none; }
ins { background-color: #ff9; color: #000; text-decoration: none; }
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }
table { border-collapse: collapse; border-spacing: 0; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
input, select { vertical-align: middle; }

body { font:13px/1.231 sans-serif; *font-size:small; }
select, input, textarea, button { font:99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }

html { overflow-y: scroll; }
a:hover, a:active { outline: none; }
ul, ol { margin-left: 2em; }
ol { list-style-type: decimal; }
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }
small { font-size: 85%; }
strong, th { font-weight: bold; }
td { vertical-align: top; }
sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; padding: 15px; }
textarea { overflow: auto; } 
.ie6 legend, .ie7 legend { margin-left: -7px; } 
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }
button, input, select, textarea { margin: 0; }
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid { border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red; }
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }


::-moz-selection{ background: #FF5E99; color:#fff; text-shadow: none; }
::selection { background:#FF5E99; color:#fff; text-shadow: none; }
a:link { -webkit-tap-highlight-color: #FF5E99; }
button {  width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }

body, select, input, textarea { color: #444; }
h1, h2, h3, h4, h5, h6 { font-weight: bold; }
a, a:active, a:visited { color: #607890; }
a:hover { color: #036; }


/**
 * Primary styles
 *
 * Author: 
 */

body {
	margin: 0px;
	background: #fff;
	height: 100%;
	color: #555;
}

h1, h2, h3, h4 {
    margin-bottom: 5px;
}

h1 {
    font-size: 131%;
}

h2 {
}

h3 {
}

h4 {
	font: normal 300% Lato;
    text-shadow: 2px 2px 2px rgba(200, 200, 200, 0.5);
    line-height: 2em;
}

alert {
	font: normal 300% Lato;
    text-shadow: 2px 2px 2px rgba(200, 200, 200, 0.5);
    line-height: 2em;
    color: red;
}

em {
    font-style: italic;
}
p, blockquote, ul, ol {
	margin-bottom: 5px;
	line-height: 1.5em;
}

p {
}

a, a:visited, a:active {
	text-decoration: none;
	color: #111;
}

a:hover {
	text-decoration: underline;
	color: #999;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
}

/* Blockquotes */
blockquote {
	overflow: hidden;
	height: 100%;
	margin: 0 24px 0  0;
	padding: 3px 0 0 24px;
	font-style: italic;
	color: #444;
	border: none;
}
blockquote blockquote {
    color: #555;
}
blockquote em {
    font-style: normal;
}

/* Code */
code {
	padding: 0 3px;
	background: #eee;
	font-size: 85%;
    font-family: Monospace, serif;
}
pre {
	overflow: auto;
	padding: 9px;
	color: #000;
	border: 1px solid #ddd;
	font-size: 85%;
    font-family: Monospace, serif;
}
pre code {
	padding: 0;
	background: transparent;
}


#main {
	width: 940px;
	margin: 0 auto;
	padding-top: 30px;
}


/* ####################### Header ############################# */

header {
	width: 880px;
	height: 105px;
	margin: 0 auto;
}
/* Logo */

#logo {
	height: 105px;
	margin: 0px;
}
#logo h1 {
	margin: 0;
	padding: 0;
	font: normal 400% Lato;
	letter-spacing: -3px;
    text-shadow: 2px 2px 2px rgba(150, 180, 150, 0.5);
}
#logo h1 a {
	color: #444;
}
#logo h2 {
    font-family: Amaranth, serif;
	margin: -4px 0 0 0;
	padding: 0;
	text-transform: uppercase;
	font-size: 77%;
	font-weight: normal;
}

#logo a {
	text-decoration: none;
	color: #fff;
}

/* Menu */

#menu {
	width: 940px;
	height: 47px;
	margin: 0 auto;
}

#menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: normal;
	margin-left: 30px;
}

#menu li {
	display: inline;
	text-align: center;
}

#menu a {
	display: block;
	float: left;
	height: 32px;
	margin-right: 2px;
	padding: 15px 20px 0px 20px;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	color: #333;
}

#menu a:hover, #menu .active a {
	background: #222;
	color: #eee;
    border-radius: 10px 10px 0px 0px;
    transition: background .2s ease-in-out;
    -webkit-transition: background .2s ease-in-out;
    -moz-transition: background .2s ease-in-out;
    -o-transition: background .2s ease-in-out;
    -ms-transition: background .2s ease-in-out;
}

#splash {
	width: 940px;
	height: 255px;
	margin: 0 auto;
	position: relative;
    border-radius: 5px 5px 5px 5px;
    border: 1px solid #222;
}
#splash p {
    position: absolute;
    right: 10px;
    bottom: 0px;
}
#splash a img {
    opacity: 0.8;
}
#splash a img:hover {
    opacity: 1.0;
}

#content {
}


/* ########################## Posts ############################### */
.post {
	margin: 0px 0px 15px 0px;
	border-bottom: 1px dotted #bbb;
	padding-bottom: 10px;
	font-family: Maven Pro, serif;
}

.post .title a {
	margin: 0px;
    font-family: Lato;
	padding: 4px 15px 4px 15px;
	background: #fff;
	text-decoration: none;
	font-weight: normal;
	color: #444;
	font-size: 161.6%;
	line-height: 30px;
	text-transform: uppercase;
}

.post .entry {
	padding: 10px 0px;
}

.post img {
	float: left;
	padding: 2px 2px;
	border: 1px solid #ccc;
	margin: 0 20px 10px 0;
	padding: 4px;
}

.post .date {
	float: right;
	margin-top: -30px;
    font-size: 77%;
    color: #aaa;
}

.post .meta {
    float: right;
	margin: 20px 0 20px 0;
	color: #202020;
}
.post a[href^="http"].meta {
    background: url(/public/img/emblem-symbolic-link.png) left no-repeat;  
    padding-left: 18px;
} 

.post .byline {
	float: right;
	margin-top: -30px;
	font-weight: bold;
	color: #5E5E5E;
}

.post p, blockquote, ul, ol {
    margin-bottom: 15px;
}

.post .entry a, 
.post .entry a:visited,
.post .entry a:active {
	text-decoration: none;
	color: #a33;
}

.post .tags {
    color: #888;
}
.post .tags b {
    color: #333;
}


.archive {
    font-style: Lato, serif;
    line-height: 30px;
}
.archive h2:hover {
    background-color: #eee;
}
.archive a {
    color: #444;
    margin: 5px;
}
.archive .date {
    margin-right: 5px;
    float: right;
    font-weight: normal;
}
.archive b {
    color: red;
    margin-left: -40px;
}

.archive li {
    margin: 0px;
    padding: 0px;
    line-height: 18px;
    list-style: none;
}    
.archive li a {
	color: #a33;
}

img.editor {
    border: 0px;
    float:right;
}
.editor div:hover {
    background-color: #F0F0D8;
}

.pagination {
    border-bottom: 1px solid #eee;
}
.pagination a, a:visited {
    text-decoration: none;
    color: #444;
}
.pagination .prev {
    background: url(/public/img/arrow_left_12x12.png) left no-repeat;
    padding-left: 16px;
    padding-top: 2px;
    float: left;
}
.pagination .archive {
    padding-top: 2px;
    text-align: center;
}
.pagination .next {
    background: url(/public/img/arrow_right_12x12.png) right no-repeat;
    padding-top: 2px;
    padding-right: 16px;
    float: right;
}

.comment_content {
    margin-left: 80px;
}
div.comment {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px dotted #aaa;
}
.comment img {
    float: left;
    padding: 2px;
}
.comment .title small {
    font-size: 77%;
    color: #aaa;
}
.comment .title a {
    font-size: 116%;
    color: #333;
    text-decoration: none;
}


/* ### Old sidebar content stuffs ### */
#flickr_badge_uber_wrapper {
    text-align: left;
}
#flickr_badge_wrapper img {
    border: 1px solid #000;
    padding: 2px;
    margin: 5px;
}

sidebar .deviantart img {
    border: 1px solid #000;
    padding: 2px;
    margin: 5px;
    width: 100px;
}
sidebar .deviantart li {
	border: none;
}


/* ######################### Footer ################### */

footer {
	margin: 0 auto;
	padding: 15px 0px;
	color: #686767;
	height: 15px;
	margin: 10px;
}
footer p {
	margin: 0;
	text-align: center;
	font-size: 77%;
}
footer a {
	text-decoration: underline;
	color: #A1A1A1;
}
footer a:hover {
	text-decoration: none;
}

/* ############################# Search #################### */

.search {
    position: relative;
	float: right;
    background: #F9F9F9 url(/public/img/search.png) 3px center no-repeat;
    border: #CCC 1px solid;
	width: 220px;
	height: 30px;
	margin-top: 10px;
}
.search form {
	margin: 0;
}
#search-text {
    position: absolute;
    color: #888;
    width: 185px;
    height: 12px;
    top: 0px;
	font: 12px Arial, Helvetica, sans-serif;
	left: 20px;
	padding: 9px 5px;
	border: none;
	background: none;
}

.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.hidden { display: none; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


@media all and (orientation:portrait) {
    #splash, .search, .fork_me {
        display: none;
    }
    .post_type_flickr img {
        width: 480px;
        height: 130px;
    }
    #main, #menu, header {
        width: 480px;
    }
    #menu a:hover, #menu .active a {
        border-radius: 10px 10px 10px 10px;
    }
    #menu ul {
        margin-left: 0px;
    }
    .post .date {
	    display: none;
    }

}

@media all and (orientation:landscape) {
}

@media screen and (max-device-width: 480px) {
    #splash, .search, .fork_me {
        display: none;
    }
    .post_type_flickr img {
        width: 480px;
        height: 130px;
    }
    #main, #menu, header {
        width: 480px;
    }
    #menu a:hover, #menu .active a {
        border-radius: 10px 10px 10px 10px;
    }
}


@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
  -ms-filter: none !important; } 
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } 
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}

