/* HTML5 ✰ Boilerplate */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ""; content: none; }
ins { background-color: #ff9; color: #000; text-decoration: none; }
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }
table { border-collapse: collapse; border-spacing: 0; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
input, select { vertical-align: middle; }

body { font:13px/1.231 sans-serif; *font-size:small; }
select, input, textarea, button { font:99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }

html { overflow-y: scroll; }
a:hover, a:active { outline: none; }
ul, ol { margin-left: 2em; }
ol { list-style-type: decimal; }
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }
small { font-size: 85%; }
strong, th { font-weight: bold; }
td { vertical-align: top; }
sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; padding: 15px; }
textarea { overflow: auto; } 
.ie6 legend, .ie7 legend { margin-left: -7px; } 
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }
button, input, select, textarea { margin: 0; }
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid { border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red; }
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }


::-moz-selection{ background: #FF5E99; color:#fff; text-shadow: none; }
::selection { background:#FF5E99; color:#fff; text-shadow: none; }
a:link { -webkit-tap-highlight-color: #FF5E99; }
button {  width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }

body, select, input, textarea { color: #444; }
h1, h2, h3, h4, h5, h6 { font-weight: bold; }
a, a:active, a:visited { color: #607890; }
a:hover { color: #036; }


/**
 * Primary styles
 *
 * Author: 
 */

body {
	margin: 0px;
	background: #FFFFFF;
	color: #231F20;
}

h1, h2, h3, h4 {
}

h1 {
    font-size: 131%;
}

h2 {
}

h3 {
}

h4 {
	font: normal 300% Georgia, "Times New Roman", Times, serif;
    text-shadow: 2px 2px 2px rgba(200, 200, 200, 0.5);
    line-height: 2em;
}

p, blockquote, ul, ol {
	margin-bottom: 20px;
	line-height: 2em;
}

p {
}

blockquote {
}

ul, ol, li {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

a, a:visited {
	text-decoration: underline;
	color: #7EBA25;
}

a:hover {
	text-decoration: none;
	color: #7EBA25;
}


/* Blockquotes */
blockquote {
	overflow: hidden;
	height: 100%;
	margin: 0 24px 0  0;
	padding: 3px 0 0 24px;
	font-style: italic;
	color: #444;
	border: none;
}
blockquote blockquote {
    color: #555;
}
blockquote em {
    font-style: normal;
}

/* Code */
code {
	padding: 0 3px;
	background: #eee;
	}
pre {
	overflow: auto;
	padding: 9px;
	color: #000;
	border: 1px solid #ddd;
	}
pre code {
	padding: 0;
	background: transparent;
	}


#main {
	width: 940px;
	margin: 0 auto;
	padding-top: 30px;
}


/* ####################### Header ############################# */

header {
	width: 880px;
	height: 105px;
	margin: 0 auto;
}
/* Logo */

#logo {
	float: left;
	width: 270px;
	height: 105px;
	margin: 0px;
}

#logo h1 {
	margin: 0;
	padding: 0;
	font: normal 400% Georgia, "Times New Roman", Times, serif;
    text-shadow: 2px 2px 2px rgba(200, 200, 200, 0.5);
}

#logo h1 a {
	color: #444;
}

#logo h2 {
	margin: -2px 0 0 0;
	padding: 0;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 77%;
	font-weight: bold;
}

#logo a {
	text-decoration: none;
	color: #FFFFFF;
}

/* Menu */

#menu {
	width: 940px;
	height: 47px;
	margin: 0 auto;
	/*background: url(../img/img02.jpg) repeat-x left top;*/
}

#menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: normal;
	margin-left: 30px;
}

#menu li {
	display: inline;
	text-align: center;
}

#menu a {
	display: block;
	float: left;
	height: 32px;
	margin-right: 2px;
	padding: 15px 20px 0px 20px;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	color: #7EBA25;
}

#menu a:hover, #menu .active a {
	background: #000000;
	color: #FFFFFF;
    border-radius: 10px 10px 0px 0px;
}

#splash {
	width: 940px;
	height: 255px;
	margin: 0 auto;
}


#content {
	float: right;
	width: 640px;
}



/* ########################## Posts ############################### */
.post {
	margin: 0px 0px 30px 0px;
	border-bottom: 1px solid #CCCCCC;
}

.post .title {
	margin: 0px;
	padding: 0px 0px 5px 0px;
	color: #515151;
}

.post .title a {
	padding: 4px 35px 4px 15px;
	background: #000000;
	text-decoration: none;
	font-weight: bold;
	color: #FFFFFF;
	font-size: 123.1%;
}

.post .entry {
	padding: 20px 0px;
}

.post img{
	float: left;
	padding: 2px 2px;
	border: 1px solid #ccc;
	margin: 0 20px 10px 0;
	padding: 4px;
	/*
	width: 100px;
	height: 100px;
	*/
}

.post .meta {
	text-align: right;
	padding: 0px 0 20px 0;
	font-weight: bold;
	color: #202020;
}

.post .byline {
	float: right;
	margin-top: -30px;
	font-weight: bold;
	color: #5E5E5E;
}

.archive h2:hover {
    background-color: #eee;
}
.archive h2 a {
    color: #333;
    line-height: 30px;
}
.archive .date {
    float: right;
}


/* ################################## Sidebar ###################### */

sidebar {
	float: left;
	width: 240px;
	margin: 0px;
	padding: 0px 30px 30px 0px;
}

sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: normal;
}

sidebar li {
	margin-bottom: 1px;
}

sidebar li ul {
	margin: 0px;
	padding: 0px 0px 40px 0px;
}

sidebar li li {
	margin: 0;
	padding: 9px 0px;
	border: none;
	border-bottom: 1px solid #CCCCCC;
}

sidebar h2 {
	margin: 0px;
	padding: 0px 0px 20px 0px;
	font-size: 161.6%;
	font-weight: normal;
	color: #7EBA25;
    text-shadow: 2px 2px 2px rgba(126, 186, 37, 0.2);
}

sidebar h3 {
	font-size: 77%;
	color: #110404;
}

sidebar p {
	margin: 0;
	line-height: normal;
	color: #D4C792;
}

sidebar a, a:visited {
	border: none;
	text-decoration: none;
	color: #4A4949;
}

sidebar a:hover {
	text-decoration: underline;
}

#flickr_badge_uber_wrapper {
    text-align: left;
}
#flickr_badge_wrapper img {
    border: 1px solid #000;
    padding: 2px;
    margin: 5px;
}

sidebar .deviantart img {
    border: 1px solid #000;
    padding: 2px;
    margin: 5px;
    width: 100px;
}
sidebar .deviantart li {
	border: none;
}


/* ######################### Footer ################### */

footer {
	margin: 0 auto;
	margin-top: 100px;
	padding: 20px 0px;
	background: #000000;
	color: #686767;
}

footer p {
	margin: 0;
	text-align: center;
	font-size: 77%;
}

footer a {
	text-decoration: underline;
	color: #A1A1A1;
}

footer a:hover {
	text-decoration: none;
}

/* Search */

#header-search {
	width: 940px;
	height: 51px;
	margin: 0 auto;
	padding: 0px 0px 0px 0px;
}

#header-search form {
	float: right;
	width: 300px;
	margin: 0;
	padding: 12px 0px 0px 0px;
}

#header-search fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

#header-search-text {
	width: 200px;
	padding: 2px 3px;
	background: #1E1E1E;
	border: none;
	color: #4D4D4D;
}

#header-search-submit {
	background: none;
	border: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #E4E4E4;
}

#search {
	height: 51px;
	margin: 0 auto;
	padding: 0px 0px 60px 0px;
}

#search form {
	margin: 0;
	padding: 12px 0px 0 0;
}

#search fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

#search input {
	float: left;
	font: 12px Arial, Helvetica, sans-serif;
}

#search-text {
	width: 160px;
	height: 18px;
	padding: 3px 0 3px 5px;
	border: 1px solid #CCCCCC;
	color: #000000;
}

#search-submit {
	margin-left: 10px;
	padding: 4px 4px;
	border: none;
	background: #000000;
	color: #FFFFFF;
}



.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.hidden { display: none; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


@media all and (orientation:portrait) {

}

@media all and (orientation:landscape) {

}

@media screen and (max-device-width: 480px) {
  
  /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}


@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
  -ms-filter: none !important; } 
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } 
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}

