{% extends 'simple_base.html' %}

{% block pagecss %}
  <link rel="stylesheet" href="/css/article.snippet.css">
{% endblock %}

{% block title %}{{ post.post_title }}{% endblock %}

{%block content %}
<section class="twelve columns" id="content">
    <article class="post format-{{ post.post_type }} post-{{ post.ID }}" id="{{ post.ID }}">
{% include ['blog/index.' ~ post.post_type ~ '.html', 'blog/index.blog.html'] %} 
    </article>
</section>
{% endblock %}

{% block postcontent %}
<nav class="twelve columns">
    <h2><a href="http://{{ _host }}/projects">Claus Beerta</a></h2>
    <ul>
    {% for key, item in menu_items %}
        <li><a href="/{{ key }}">{{ item }}</a>
    {% endfor %}
    </ul>
</nav>
{% endblock %}

