{% extends "base.html" %}


{% block title %}{{ active|title }}{% endblock %}

{% block content %}

{% for post in posts %}
    <article class="post format-{{ post.post_type }} post-{{ post.ID }}" id="{{ post.ID }}">
{% include ['blog/index.' ~ post.post_type ~ '.html', 'blog/index.blog.html'] %} 
    <br class="clear" />
    </article>
{% else %}
    <alert>No more Posts!</alert>
{% endfor %}

{%if ppp %}
<nav class="pagination">
	<div class="nav-previous">
{% if posts|length == ppp %}
        <a href="{{ base_url}}/{{ offset + ppp }}" ><span class="meta-nav">&larr;</span> Older posts</a>
{% endif %}
    </div>
    <div class="nav-next">
{% if offset >= ppp %}    
        <a href="{{ base_url}}/{{ offset - ppp}}" >Newer posts <span class="meta-nav">&rarr;</span></a>
{% endif %}
    </div>
</nav>
{% endif %}

{% endblock %}
