{% extends "base.html" %}

{% block content %}
{% for post in posts %}
<div class="post post_type_{{ post.post_type }}" id="{{ post.ID }}">
{% if post.post_status == 'draft' %}<b>Draft: </b>{% endif %}
{% include 'blog/index.' ~ post.post_type ~ '.html' %}
    <div class="clearfix"></div>
</div>
{% else %}
<alert>No more Posts!</alert>
{% endfor %}
{% if ppp %}
<div class="pagination">
{% if posts|length == ppp %}
    <h2 class="prev"><a href="{{ base_url}}/{{ offset + ppp }}">Older Entries</a></h2>
{% endif %}
{% if offset >= ppp %}
    <h2 class="next"><a href="{{ base_url}}/{{ offset - ppp}}">Newer Entries</a></h2>
{% endif %}
    <h2 class="archive"><a href="/blog/archive">Archive</a></h2>
</div>
{% endif %}
{% endblock %}
