    <h2 class="title">
        <a href="/blog/{{ post.post_slug }}">
            {{ post.post_title }}
        </a>
    </h2>
    <p class="date">Posted: {{ post.post_date|date(date_format) }}</p>
    <div class="entry blog" id="{{ post.ID }}">
        <p>{{ post.post_content|format_content|raw }}</p>
    </div>
{% if post.original_source %}
    <a class="meta" href="{{ post.original_source }}">Article Source</a>        
{% endif %}
{% if post.tags %}
    <p class="tags">
        {% if post.comment_count > 0 %}
        {{ post.comment_count }} Comments
        <em>||</em> 
        {% endif %}
        Filed under: <b>{{ post.tags|format_tags|raw }}</b>
    </p>
{% endif %}
    
