{% extends "base.html" %}


{% block title %}{{ post.post_title }}{% endblock %}

{% block content %}

{% if not post %}
<alert>Post does not exist!</alert>
{% else %}

<article class="post format-{{ post.post_type }} post-{{ post.ID }}" id="{{ post.ID }}">
{% include ['blog/index.' ~ post.post_type ~ '.html', 'blog/index.blog.html'] %} 

<section id="comments">
{% for c in comments %}
{% if loop.first %}
<div class="comment-{{ c.ID }}" id="comments">
    <h2 id="comments-title">{{ post.comment_count|plural('though') }} on &ldquo;<span>{{ post.post_title }}</span>&rdquo;</h2>
    <ol class="commentlist">
{% endif %}
    <li class="comment" id="{{ comment-c.ID }}">
    <div class="comment-body">
        <div class="comment-author vcard">
            <img class="avatar" src="{{ c.comment_author_email|raw|comment_image }}" width="32" height="32"/>
            <cite class="fn"><a href="{{ c.comment_author_url|default('#')|raw }}" rel="external nofollow" class="url">{{ c.comment_author }}</a></cite>
            <span class="says">says:</span>
        </div>

        <div class="comment-meta commentmetadata"><a href="#">{{ c.comment_date|date(date_format) }}</a></div>
        
        <p>{{ c.comment_content|raw }}</p>
    </div>
    </li>
{% if loop.last %}
    </ol>
{% endif %}
{% endfor %}
</section><!-- comments end -->
</article>
<br class="clear" />

{% endif %}

{% endblock %}
