{% extends "base.html" %}

{% block content %}
{% if post %}
<div class="post{% if editor %} editable{% endif %}" id="{{ post.ID }}">
{% include 'blog/index.' ~ post.post_type ~ '.html' %}
    <div class="clearfix"></div>
</div>
{% if editor %}
    <div class="editor">
        <img class="editor trash_post" id="{{ post.ID }}" onclick="trash_post({{ post.ID }});" src="/public/img/trash_stroke_32x32.png">
        <img class="editor toggle_publish" id="{{ post.ID }}" onclick="toggle_publish({{ post.ID }});" src="/public/img/{{ post.post_status != 'publish' ? 'denied' : 'check_alt' }}_32x32.png">
        <form id="post_tags" method="POST">
            Tags: <input id="post_tags" type="text" value="{{ post.tags }}" size="100">
            <input type="hidden" id="post_ID" type="text" value="{{ post.ID }}" size="100">
        </form>
    </div>
    <div class="clearfix"></div>
{% endif %}
{% for c in comments %}
<div class="comment" id="{{ c.ID }}">
    <img class="gravatar" src="{{ c.comment_author_email|raw|comment_image }}" />
    <div class="comment_content">
        <div class="title">
            <a href="{{ c.comment_author_url|default('#')|raw }}">{{ c.comment_author }}</a>
            &nbsp;|&nbsp;
            <small>{{ c.comment_date|date(date_format) }}</small>
        </div>
        <p>
            {{ c.comment_content }}
        </p>
    </div>
    <div class="clearfix"></div>
</div>
{% endfor %}
{% else %}
<alert>Post does not exist!</alert>
{% endif %}
{% endblock %}
