{% extends "base.html" %}

{%block content %}
<h4>Tags</h4>
<p class="archive">
{% for tag in tags %}
{% if tag.posts_with_tag > 0 %}
<a href="/posts/tag/{{ tag.slug }}">{{ tag.name }}</a> ({{ tag.posts_with_tag }}), 
{% endif %}
{% else %}
<p>No Tags Whatsoever</p>
{% endfor %}
</p>
<h4>Blog Archive</h4>
{% for post in posts %}
<div class="archive">
<h2>
    {% if post.post_status == 'draft' %}<b>Draft: </b>{% endif %}
    <a href="/post/{{ post.post_slug }}">
        {{ post.post_title }}
    </a>
    <div class="date">{{ post.post_date|date(date_format) }}</div>
</h2>
</div>
{% else %}
<alert>Not a single Post!</alert>
{% endfor %}
{% endblock %}
